//
//  Common.xcconfig
//  iOS-environment
//
//  Created by lym on 2023/3/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CLANG_ENABLE_MODULES = YES
SWIFT_VERSION = 5.0
EXCLUDED_ARCHS[sdk=iphonesimulator*] = arm64
ENABLE_BITCODE = NO

// 引用类型 1: iPhone/iPod touch. 2: iPad.
TARGETED_DEVICE_FAMILY = 1
// iOS支持系统版本
IPHONEOS_DEPLOYMENT_TARGET = 13.0

// 版本号
PRODUCT_VERSION_BASE = 1.2.0
// build号
PRODUCT_VERSION_SUFFIX = 2
// 版本号 + build号
PRODUCT_VERSION = $(PRODUCT_VERSION_BASE).$(PRODUCT_VERSION_SUFFIX)

// app名称
APP_NAME = iOS工程化
